@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300&display=swap');

body{
    margin: 0px;
    padding: 0px;
    width: 100%;
    font-family: 'Quicksand', sans-serif;
    justify-content: space-between;
}

.main-container{
    width: 100%;
    min-height: 100vh;
    background-color: #E51B24;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logo-container img{
    width: 20em;
    margin-bottom: 4em;
}

.form-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.input-container{
    display: flex;
    flex-direction: column;
    font-weight: 600;
    font-size: 1.3em;
    height: 80px;
}

.input-container label{
    color: white;
}

.input-container input{
    background-color: rgba(255, 255, 255, 0.45);
    border: 0px;
    height: 40px;
    width: 300px;
    border-radius: 9px;
}

.input-container input:focus{
    outline: 0px;
}

.btn-ingresar{
    background-color: black;
    border: 0px;
    display: flex;
    align-items: center;
    font-weight: 1000;
    font-size: 1.5em;
    height: 1.9em;
    border-radius: 10px;
    margin-top: 1.2em;
    margin-bottom: 0.8em;
    padding: 0.5em;
}
.btn-ingresar a{
    color: white;
    font-family: 'Quicksand', sans-serif;
    font-weight: 2000;
    font-size: 1.5em;
    height: 2em;
    margin-top: 1.5em;
    margin-bottom: 1em;
    text-decoration: none;
}
.form-container p{
    color: white;
    margin-bottom: 0em;
    font-family: 'Mulish', sans-serif;
    margin-top: 2em;
    font-size: 20px;
    font-weight: 550;
}

.form-container a{
    font-family: 'Mulish', sans-serif;
    font-size: 20px;
    font-weight: 550;
}

@media screen and (min-width:720px) and (orientation:landscape)
{
    .main-container{
        background-image: url(../img/Fondo.jpg);
        background-position: center;
    }

    .bg-container{
        width: 100%;
        min-height: 100vh;
        background-color: rgba(229, 27, 36, 0.42);
        display: flex;
        flex-direction: row;
    }

    .logo-container{
        width: 50%;
        padding-top: 38em;
        padding-left: 9em;
    }

    .logo-container img{
        width: 25em;
    }

    .form-container{
        width: 50%;
        padding-top: 25em;
        padding-left: 15em;
    }
}